        <main class="border">
            {{#if loggedIn}}
                <section class="gameDiv">
                   <card class="gameCard" id="chessImage">
                        <a class="cardAnchor" href="/games/chess">
                            <h3>Chess</h3>
                            <img src="/images/chessScreenshot.png">
                        </a>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/games/snake">
                            <h3>Snake</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/games/connect4">
                            <h3>Connect - 4!</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/games/tic-tac-toe">
                            <h3>Tic Tac Toe</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/games/minesweeper">
                            <h3>Coming Soon!</h3>
                            <h3>Minesweeper</h3>
                        </a>
                        <img>
                   </card>
                </section>
                <script src="/js/newPost.js"></script>
            {{/if}}
        </main>
