<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawn's Minigame Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/homepage/style.css">
</head>
<body>
        <header>
            <nav>
                <a href="/" class="navButton border" id="homeButton">Home</a>
                <a href="/dashboard" class="navButton border" id="dashboardButton">Dashboard</a>
                {{#if loggedIn}}
                <button href="/logout" class="navButton border" id="logoutButton">Logout</button>
                <script src="/authentication/logout.js"></script>
                {{else}}
                <a href="/login" class="navButton border" id="loginButton">Login</a>
                {{/if}}
            </nav>
            <div class="border" id="titleDiv">
                <h1>Welcome to Games for Crooks!</h1>
            </div>
        </header>
        {{{body}}}
    </body>
</html>