<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crook Chess Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/games/chess/chess.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="clock_card">
            <div class="clock" id="player2Clock">
                   
            </div>
            <div class="cage">

            </div>
        </section>
        <div id ="main_section">
            <section class="spacers" id="moves">
                <section id="data"></section>                
                    <ol id="moveslist">

                    </ol>

                

            </section>
            <section id="board">
                <div id="board_border">
                    
                </div>        
            </section>
            <section class="spacers" id="input">
                
                <form id="input">
                    <label for="fname">Move: </label>
                    <input type="text" id="move" name="move"><br><br>
                    <input type="submit" value="Submit">
                    <button id="start-game">Start Timer</button>
                </form>

                <form id="fen">
                    <label for="fen">FEN: </label>
                    <input type="text" id="fen" name="fen"><br><br>
                </form>
                
            </section>
        </div>
        <section class="clock_card">
            <div class="clock" id="player1Clock">

            </div>
            <div class="cage">

            </div>
            
        </section>
    </main>
    <footer>

    </footer>
    <script src="/games/chess/fetch.js"></script>
    <script src="/games/chess/display.js"></script>
    <script src="/games/chess/move.js"></script>
    <script src="/games/chess/script.js"> </script>
</body>
    