        <main class="border">
            <div class="blog">
                <card></card>
                {{{body}}}
            </div>
            {{#if loggedIn}}
                <section class="gameDiv">
                   <card class="gameCard" id="chessImage">
                        <a class="cardAnchor" href="/chess">
                            <h3>Chess</h3>
                            <img src="/images/chessScreenshot.png">
                        </a>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/chess">
                            <h3>Coming Soon!</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/chess">
                            <h3>Coming Soon!</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/chess">
                            <h3>Coming Soon!</h3>
                        </a>
                        <img>
                   </card>
                   <card class="gameCard" >
                        <a class="cardAnchor" href="/chess">
                            <h3>Coming Soon!</h3>
                        </a>
                        <img>
                   </card>
                </section>
                <script src="/js/newPost.js"></script>
            {{/if}}
        </main>
