<div>
    <div id="loginDiv">
        <h2>Sign-Up</h2>
    </div>
    <form id="signup-form">
        <div class="labelDiv">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
        </div>
        <div class="labelDiv">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
        </div>
        <div class="labelDiv">
            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm" name="confirm"><br>
        </div>

        <input class="button" type="submit" value="Submit">
        <br>
        <a href="/login">
            <button class="button" type="button" id="sign_alternate">Already have an account? Log-in instead!</button>
        </a>

    </form>
</div>

<script src="/authentication/login.js"></script>
