:root{
    --border-size: 3px;
    --primary-board-color: black;
    --secondary-board-color: rgb(255, 255, 255);
    --board-grid-color: gray;
}

*{
    color: gray;
}

header{
    height: 80px;
}

.square{
    width: 80px;
    height: 80px;
    border: var(--board-grid-color) solid var(--border-size);
    display:block;
    padding: 5px;    
}

#board_border{
    border: var(--board-grid-color) solid var(--border-size);
    display: flex;
}

.column{
    display: flex;
    flex-direction: column-reverse;
}

#board{  
    border: rgb(250, 0, 0) solid 10px;   
    border-radius: 10px; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary_square::after{
    position:relative;
    top: -7px;
    left: -3px;
    content: attr(id);
    font-size: 20px;
    color: var(--secondary-board-color);
}

.secondary_square::after{
    position:relative;
    top: -7px;
    left: -3px;
    content: attr(id);
    font-size: 24px;
    color: var(--primary-board-color);
}

.primary_square{
    background: var(--primary-board-color);    
}

.secondary_square{
    background: var(--secondary-board-color);
}

.clock_card{
    height: 150px;
    width: 1000px;
    border: green dashed 5px;
    margin: 20px;
    display: flex;
}

.clock{
    height: auto;
    width: 140px;
    border: black solid 5px;
    margin: 10px;
    flex: 1;
    border-radius: 10px;
}
#player1clock{
    color: white;
}

#player2clock{
    color: white;
}

.cage{
    height: auto;
    flex: 4;
    border: black solid 5px;
    margin: 10px;
    border-radius: 10px;
}

a{
    display:flex;

}

img{
    height: 70px;
    width: 70px;
    background: none;
    
}
