:root{
    --border-size: 3px;
    --primary-board-color: rgb(179, 122, 1);
    --secondary-board-color: rgb(255, 226, 99);
    --board-grid-color: rgb(58, 58, 58);
}

*{
    color: gray;
}

header{
    height: 80px;
}

.square{
    width: 80px;
    height: 80px;
    border: var(--board-grid-color) solid var(--border-size);
    position: relative;
    
       
}

#board_border{
    border: var(--board-grid-color) solid var(--border-size);
    display: flex;
}

.column{
    display: flex;
    flex-direction: column-reverse;
}

#board{  
    border: rgb(0, 0, 0) solid 10px;   
    border-radius: 10px; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary_square::after{   
    position: absolute;
    top: -3px;
    left: 0px;
    content: attr(id);
    font-size: 20px;
    color: var(--secondary-board-color);
}

.secondary_square::after{
    position: absolute;
    top: -3px;
    left: 0px;
    content: attr(id);
    font-size: 20px;
    color: var(--primary-board-color);
    
   
}

.primary_square{
    background: var(--primary-board-color);     
}

.secondary_square{
    background: var(--secondary-board-color);
    
}

.clock_card{
    height: 150px;
    width: 1000px;
    border: green dashed 5px;
    margin: 20px;
    display: flex;
}

.clock{
    height: auto;
    width: 140px;
    border: black solid 5px;
    margin: 10px;
    flex: 1;
    border-radius: 10px;
}
#player1clock{
    color: white;
}

#player2clock{
    color: white;
}

.cage{
    height: auto;
    flex: 4;
    border: black solid 5px;
    margin: 10px;
    border-radius: 10px;
}

a{
    height: 80px;
    width: 80px;
}

img{
    height: 80px;
    width: 80px;
    
    
}
